@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Meetings currently cancelled. See emails for details on Zoom sessions.</p>
    <p>Meetings usually every 3rd Wednesday of the month at Arkley</p>
    <p>Contact the club: </p>
    <p><a href="mailto:info@northlondonwoodturners.co.uk">Email</a></p>
    <p><a href="https://www.facebook.com/groups/789674124545815/">Facebook</a></p>
    <p><a href="https://www.instagram.com/northlondonwoodturners/">Instagram</a>></p>
</div>
