@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    We were formed in 1995 and spent many years as a small group meeting in each other workshops and houses. Eventually in 2006 we found a home at the Freehold Community Centre. From Jan 2018 we have found a new home in Arkley Village hall, where now we meet on the 3rd Wednesday of each month at 7.30pm.
    Club evenings are made up of lots of discussions on turning and practical demonstrations on the club lathes.
    All areas of turning are covered throughout the year, from tool sharpening to advice on equipment.
    There is a very wide mix of members from very experienced to complete novices and new members are always very welcome. We also welcome young enthusiasts but if you are under 16 please bring an adult with you.
</p>
<p>
    <h3>The Committee</h3> 
            <table class="table">
                <tbody>
                    <tr class="row">
                        <th class="header-cell">Chairman</th>
                        <th class="header-cell">David Gerrard</th>
                        <th class="header-cell">gerrardarch@gmail.com</th>
                    </tr>
                    <tr class="row">
                        <td class="cell">Vice Chair</td>
                        <td class="cell">Julian Markson</td>
                        <td class="cell">julianmarkson@aol.com</td>
                    </tr>
                    <tr class="row">
                        <td class="cell">Secretary</td>
                        <td class="cell">Brian Tidmarsh</td>
                        <td class="cell">brian@thetidmarshs.co.uk</td>
                    </tr>
                    <tr class="row">
                        <td class="cell">Treasurer</td>
                        <td class="cell">Trevor Hails</td>
                        <td class="cell">lafhails@aol.com</td>
                    </tr>
                    <tr class="row">
                        <td class="cell">Training &amp; Equipment</td>
                        <td class="cell">Terry Vaughan</td>
                        <td class="cell">tvaughan1234@aol.com</td>
                    </tr>
                    <tr class="row">
                        <td class="cell">Publicity &amp; membership</td>
                        <td class="cell">David Gerrard</td>
                        <td class="cell">gerrardarch@gmail.com</td>
                    </tr>
                    <tr class="row">
                        <td class="cell">Committee members</td>
                        <td class="cell">Jeff Hyams</td>
                        <td class="cell">hyamsjeff@btinternet.com</td>
                    </tr>
                    <tr class="row">
                        <td class="cell"></td>
                        <td class="cell">Jeremy Eckstein</td>
                        <td class="cell">jeremy@jeassociates.co.uk</td>
                    </tr>
                    <tr class="row">
                        <td class="cell"></td>
                        <td class="cell">George Hampson</td>
                        <td class="cell">george@thehampsons.net</td>
                    </tr>
                </tbody>
            </table>
</p>
